:root {
  --light: #FBF7ED;
  --light-a: #fbf7edbb;
  --accent: #E2B79F;
  --main: #B66142;
  --main2: #BD6F4E;
  --dark: #6E2314;
  --shadow: #7A6651;
  --letter: #333333;

  --fonte-titulo: "Quattrocento", serif;
  --fonte-paragrafo: "Cormorant", sans-serif;
}



body {
  line-height: 1.4;
  margin: 0;
  padding: 0;
  background-color: var(--light);
  color: #333;
}

#im-bn {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

#bn-01 {
  padding: 4vw;
  max-width: 100%;
  margin: 0;
  font-size: 1.65rem;
  color: var(--light);
  background-color: var(--main);
  font-family: var(--fonte-paragrafo);
}

#bn-01 p {
  padding: 0 5vw;
}

#bk-bn {
  margin-top: 3vw;
  margin-bottom: 3vw;
  max-width: 80%;
}

.bk-a {
  padding: 2vw;
  margin: 0;
  font-size: 1.25rem;
  color: var(--light);
  background-color: var(--main);
  font-family: var(--fonte-titulo);
}

.bk-a img {
  max-width: 45%;
  padding: auto;
}

.bk-a p {
  margin-top: 2vw;
  font-family: var(--fonte-paragrafo);
}

.bk-a h1 {
  margin:0 0 3vw 0;
  font-weight: 300;
}

.bk-b {
  padding: 2vw;
  margin: 0;
  font-size: 1.25rem;
  color: var(--letter);
  background-color: var(--accent);
  font-family: var(--fonte-titulo);
}

.bk-b img {
  max-width: 45%;
  padding: auto;
}

.bk-b p {
  margin-top: 2vw;
  font-family: var(--fonte-paragrafo);
}

#bn-text {
  padding: 2vw;
  margin: 0;
  max-width: 100%;
  background-color: var(--dark);
}

#bn-02 {
  padding: 2vw;
  max-width: 100%;
  margin: 2vw;
  font-size: 1.35rem;
  color: var(--light);
  font-family: var(--fonte-paragrafo);
}

#bn-02 img {
  max-width: 75%;
  padding: auto;
}

#bn-02 p {
  text-align: start;
  padding: .5vw 0;
}

#bn-02 h2 {
  padding: 1.5vw 0;
  background-color: var(--light);
  color: var(--dark);
  margin-bottom: 2vw;
}

#bn-text-2 {
  padding: 2vw;
  margin: 0;
  font-size: 1.35rem;
  font-family: var(--fonte-paragrafo);
  max-width: 100%;
  color: var(--shadow);
  background-image: url("https://images.unsplash.com/photo-1516614379323-3fc1b4061247?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#bn-03 {
  padding: 2vw;
  max-width: 100%;
  margin: 1vw;
  font-size: 1.35rem;
  color: var(--letter);
  background-color: var(--light-a);
  font-family: var(--fonte-paragrafo);
}

#bk-c {
  padding: 2vw;
  margin: 0 auto; /* Center the content horizontally */
  max-width: 100%;
  font-size: 1.25rem;
  color: var(--light);
  background-color: var(--main);
  font-family: var(--fonte-paragrafo);
  text-align: center; /* Ensures text and inline elements are centered */
}

#bk-c a {
  display: inline-block; /* Allows margin auto to work for centering */
  padding: 0.5vw 2vw; /* Add more padding for a better button shape */
  margin: 2vw auto 0; /* Centers the button */
  width: auto; /* Adjusts the width to fit the content */
  font-size: 1.25rem;
  color: var(--main);
  background-color: var(--light);
  text-decoration: none;
  font-family: var(--fonte-titulo);
  border-radius: 5px; /* Optional: adds rounded corners */
  transition: background-color 0.3s ease; /* Optional: adds a hover effect */
}

#bk-c a:hover {
  background-color: var(--shadow);
  color: var(--light);
}

#sm-bn {
  padding: 3vw;
  margin: 0 auto; /* Center the content horizontally */
  max-width: 100%;
  font-size: 1.25rem;
  color: var(--dark);
  background-color: var(--light);
  font-family: var(--fonte-paragrafo);
  text-align: center;
}

#sm-bn img {
  max-width: 5%;
  text-align: center;
  margin: 0 3vw;
}

#sm-bn a {
  text-decoration: none;
}

#footer {
  color: var(--light);
  background-color: var(--dark);
  padding: 2vw .5vw 1vw .5vw;
  font-family: var(--fonte-titulo);
  line-height: .6;
  font-weight: 600;
  max-width: 100%;
}

@media (max-width: 767px) {  /* Targets screens smaller than 768px (smartphones) */
  .bk-a img {
    max-width: 75%;
    padding: 2vw;
  }

  .bk-b img {
    max-width: 75%;
    padding: 2vw;
  }

  #bk-c {
    padding: 6vw;
  }

  #sm-bn img {
    max-width: 12%;
    text-align: center;
    margin: 0 1vw;
  }

  #bn-text-2 {
    color: var(--letter);
    background-image: url("./images/fundo.jpg");
  }

  #footer {
    padding: 5vw .5vw 1vw .5vw;
  }
}